// From: http://www.assemblesoft.com/examples/form/simpleform.html
* {margin:0; padding:0;}

html {
	font: 90%/1.3 arial,sans-serif;
	padding:1em;
	background:#B9C2CC;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
form {
	background:#fff;
	padding:1em;
	border:1px solid #eee;
}

fieldset div {
	margin:0.3em 0;
	clear:both;
}

form {
	margin:1em;
	width:15em;
}

label {
	float:none;
	width:12em;
	display:block;
	clear:both;
}

legend {
	color:#0b77b7;
	font-size:1.4em;
}
legend span {
	width:10em;
	text-align:right;
}
input {
	padding:0.15em;
	width:10em;
	border:1px solid #ddd;
	background:#fafafa;
	font:bold 1em arial, sans-serif;
	-moz-border-radius:0.4em;
	-khtml-border-radius:0.4em;
	display:block;
	float:left;
}
input:hover, input:focus {
	border-color:#c5c5c5;
	background:#f6f6f6;
}
fieldset {
	border:1px solid #ddd;
	padding:0 0.5em 0.5em;
}
.date input {
	background-image:url(../gfx/calendar-small.gif);
	background-repeat:no-repeat;
	background-position:100% 50%;
}

.date fieldset label {
	float:none;
	display:block;
	text-align:left;
	width:auto;
}
.date fieldset div {
	float:left;
	clear:none;
	margin-right:0.2em;
}
.radio, .date {
	position:relative;
}
.radio fieldset, .date fieldset {
	border:none;
	width:auto;
	padding:1px 0 0 11em;
}
.radio legend, .date legend {
	font-size:1em;
	color:#000;
}
.radio legend span, .date legend span {
	position:absolute;
	left:0;
	top:0.3em;
	width:10em;
	display:block;
}
.radio label, .radio input {
	vertical-align:middle;
	display:inline;
	float:none;
	width:auto;
	background:none;
	border:none;
}
.radio div {
	float:left;
	white-space:nowrap;
	clear:none;
}

.email {
	width:14em;
}

input.default {
	color:#bbb;
}

#submit {
	margin:1em;
	width:69px;
	height:26px;
	overflow:hidden;
	border:0;
	display:block;
	cursor:pointer !important; cursor:hand;
}
#submit:hover {
	background-position:0 -26px;
}

textarea {
	padding:0.15em;
	width: 200px;
	height: 50px;
	display: block;
}

.error {
	color: #FF1400;
}